[mysqld]
general_log = 1
general_log_file = /var/lib/mysql/general.log

# Optimizaciones para Mac ARM64
innodb_use_native_aio = 0
innodb_buffer_pool_size = 256M
innodb_log_file_size = 64M
max_connections = 100

# Configuraciones de caracteres
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci

[mysql]
default-character-set = utf8mb4

[client]
default-character-set = utf8mb4
